* {
    box-sizing:border-box;
}
body {
    margin:0;
    background:linear-gradient(gray,white,gray);
}
#firstPage, #secondPage {
    /* position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0; */
    margin:auto;
}
#firstPage {
    display:block;
    height:65%;
    width:900px;
}
#firstPageText {
    width:85%;
    height:300px;
    margin:10px auto;
}
#heading {
    font-size:50px;
    text-align: center;
    margin:50px auto;
}
#buttonContainer {
    width:70%;
    height:75px;
    margin: 0 auto;
}
#start {
    font-size:35px;
    width:35%;
    height:75px;
    line-height:75px;
    text-align:center;
    color:white;
    background-color:blue;
    margin:0 auto;
    border-radius: 25px;
    cursor:pointer;
}
#hangingStand,#hangingMan {
    display:block;
    margin:-30px auto 30px auto;
    border:1px solid black;
}
#secondPage {
    display:none;
    margin:auto;
    width:850px;
    height:600px;
}
#category-heading {
    font-size:50px;
    text-align: center;
    margin:50px auto;
}
#categoryContainer {
    width:100%;
    height:335px;
}
#category {
    width:700px;
    height:335px;
    margin:auto;
}
#category1, #category2 {
    float:left;
    width:700px;
    height:150px;
}
#category1 {
    margin-bottom:30px;
}
#programmingLanguages,
#frameWorks,
#movieNames,
#countryNames {
    float:left;
    width:50%;
    height:100%;
    font-size: 50px;
    text-align: center;
    border:1px solid black;
    cursor: pointer;
    padding:25px;
}
#programmingLanguages {
    background: linear-gradient(to right, #000081, white);
}
#frameWorks {
    background: linear-gradient(to right, white, #147b14);
}
#movieNames {
    background: linear-gradient(to right, #bc7a00, white); 
}
#countryNames {
    background: linear-gradient(to right, white, #b10000);
}
#thirdPage {
    display:none;
    text-align: center;
}
#wordWrap {
    display:inline-block;
    width:50%;
    margin:0 auto;
    padding:10px;
}
#letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10, #letter11, #letter12, #letter13, #letter14, #letter15 {
    width: 10%;
    height:50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    line-height:60px;
}
#underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10, #underline11, #underline12, #underline13, #underline14, #underline15 {
    width:10%;
    height:50px;
    display:none;
    float:left;
    margin-right:5px;
}
#characters {
    width: 5%;
    height:10px;
    margin:20px auto;
    font-size:50px;
    text-align: center;
}
#characters div {
    width:80%;
    height:50px;
    float:left;
    margin:0 10px 10px 0;
    cursor:pointer;
    background-color: red;
}
#characters div:hover {
    background-color: blue;
}
#characters div:active {
    width:80%;
    font-size: 45px;
    padding-top: 3px;
    background-color: green;
}
#results {
    margin-top:10px;
    height:70px;
    visibility: hidden;
    line-height: 70px;
}
#reset, #home {
    display:none;
    width:50%;
    height:65px;
    margin:0 auto 20 auto;
    font-size:35px;
    line-height:65px;
    text-align: center;
    color:white;
    background-color: steelblue;
    border-radius: 25px;
    cursor:pointer;
}

@media (max-width:866px) {
    #firstPage {
        width:60%;
        height:500px;
        /* background-color: red; */
    }
    #firstPageText {
        width:80%;
        height:100px;
        padding-top: 20px;
        /* background-color: blue; */
    }
    #heading {
        font-size:40px;
        margin:10px auto;
    }
    #buttonContainer {
        width:100%;
        height:60px;
        margin:30px auto;
    }
    #hangingStand {
        margin:120px auto 0 auto;
    }
    #secondPage {
        width:80%;
        height:345px;
    }
    #category-heading {
        font-size:30px;
        margin:0 auto 20px auto;
    }
    #categoryContainer {
        height:180px;
    }
    #category {
        width:80%;
        height:180px;

    }
    #category1, #category2{
        width: 100%;
        height: 80px;
    }
    #category1{
        margin-bottom: 20px;
    }
    #programmingLanguages,#frameWorks,#movieNames,#countryNames {
        font-size:20px;
    }
}
@media (max-width:500px) {
    #firstPage {
        width:100%;
        height:100%;
        /* background-color: red; */
    }
    #firstPageText {
        width:100%;
        /* background-color: blue; */
    }
    #heading {
        font-size:24px;
        margin:10px auto;
    }
    #buttonContainer {
        width:90%;
        height:50px;
        margin:30px auto;
    }
    #hangingStand {
        margin:70px auto 10px auto;
    }
    #secondPage {
        width:100%;
        height:320px;
    }
    #category-heading {
        font-size:25px;
    }
    #categoryContainer {
        margin:0 auto;
        width:90%;
        height:180px; 
    }
    #programmingLanguages,#frameWorks,#movieNames,#countryNames {
        font-size:15px;
    }
}